/* src/estilos/App.css */

/* Resetea los márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    display: flex;
}

.content {
    margin-top: 60px; /* Altura del navbar */
    margin-left: 250px; /* Ancho del sidebar expandido */
    padding: 20px;
    width: calc(100% - 250px);
    transition: margin-left 0.3s ease, width 0.3s ease;
}

.sidebar-container.collapsed + .content {
    margin-left: 70px; /* Ancho del sidebar colapsado */
    width: calc(100% - 70px);
}

@media (max-width: 768px) {
    .content {
        margin-left: 70px; /* Sidebar colapsado por defecto en móviles */
        width: calc(100% - 70px);
    }
}
