/* src/styles/App.css */

/* Configuración de la estructura principal con la barra lateral */
.app-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* Estilo para la barra lateral */
.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
}

.sidebar h2 {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar-menu-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu li a {
  color: #ddd;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-menu li a .icon {
  margin-right: 10px;
}

.sidebar-menu li.active a {
  background-color: #80BAE4;
  color: #333;
}

/* Estilo para la sección de contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  margin-left: 250px; /* Ajusta el margen izquierdo para que no se superponga con la barra lateral */
  width: calc(100% - 250px); /* Ajusta el ancho para que ocupe el espacio restante */
}

/* Estilo para la sección de contenido principal cuando no hay barra lateral */
.full-width-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
  width: 100%; /* Ocupa todo el ancho */
}