/* src/styles/Dashboard.css */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

/* Variables CSS */
:root {
  --color-barra-lateral: #286AA7;
  --color-texto: #fff;
  --color-texto-menu: #d1d1d1;
  --color-menu-hover: #007bff;
  --color-menu-hover-texto: #ffffff;
  --color-boton: #000;
  --color-boton-texto: #fff;
  --color-linea: rgb(180, 180, 180);
  --color-scroll: #cccccc;
  --color-scroll-hover: #aaaaaa;
  --color-iconos: #fff;
  --color-fondo-principal: #f8f9fa;
  --color-card: #ffffff;
  --color-titulo-card: #286AA7;
  --color-enlace-card: #1b4f73;
  --color-enlace-hover: #3a8fc3;
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-background: #f8f9fa;
  --color-text: #343a40;
  --color-card-background: #ffffff;
  --color-card-shadow: rgba(0, 0, 0, 0.1);
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

.dashboard-container {
  display: flex;
  font-family: 'Outfit', sans-serif;
  padding: var(--spacing-large);
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: var(--color-fondo-principal);
  min-height: 100vh;
}

.header {
  font-size: 2rem;
  margin-bottom: var(--spacing-large);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: var(--color-card-background);
  box-shadow: 0 4px 8px var(--color-card-shadow);
  border-radius: var(--border-radius);
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 0;
  color: var(--color-titulo-card);
}

.card p {
  margin: var(--spacing-small) 0;
}

.card a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-hover);
}