@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

.login-page-container {
  display: flex;
  height: 100vh;
  background-color: #f5ede3; /* Fondo uniforme con buen contraste */
}

.login-image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0e4d7; /* Fondo suave para la sección de la imagen */
}

.illustration {
  text-align: center;
}

.illustration img {
  max-width: 80%;
  border-radius: 8px;
}

.illustration h2 {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

.illustration p {
  color: #666;
}

.login-form-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-card {
  width: 350px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.login-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.login-subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: #777;
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-google img {
  height: 20px;
  margin-right: 10px;
}

.or-separator {
  text-align: center;
  margin-bottom: 15px;
  color: #888;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-toggle-password {
  background: none;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  color: #777;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.forgot-password {
  color: #286AA7;
  text-decoration: none;
}

.btn-login {
  width: 100%;
  padding: 12px;
  background-color: #286AA7;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #205a87;
}
