.dashboard {
    padding: 20px;
    background-color: #f0f2f5;
    min-height: 100vh; /* Asegura que el Dashboard ocupe toda la pantalla */
    box-sizing: border-box;
}

.dashboard h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2869A7;
}

/* Grid para organizar las tarjetas */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Columnas adaptables */
    gap: 20px; /* Espaciado uniforme entre tarjetas */
    align-items: stretch;
}
