.table-container {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cochera-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    background-color: white;
}

.cochera-table thead tr {
    background-color: #2869a7;
    color: white;
    font-weight: bold;
}

.cochera-table th,
.cochera-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.status-badge {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    text-align: center;
}

.status-badge.available {
    background-color: #37b24d;
}

.status-badge.occupied {
    background-color: #f03e3e;
}

.edit-btn,
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.edit-btn {
    color: #37b24d;
}

.delete-btn {
    color: #f03e3e;
}
