.cochera-filter {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    gap: 10px;
}

.filter-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.filter-select {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 0.9rem;
}

.filter-input {
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 0.9rem;
    width: 250px;
}
